.page{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.heading{
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    display: flex;
    justify-content: center;
}